body {
  background-color: lightgray;
}

.search-container {
  background-color: red;
  max-width: none;
}

.main-container {
  background-color: white;
}

.f14 {
  font-size: 14px;
}

.f10 {
  font-size: 10px;
}
